.console-window {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.titlebar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: rgb(32, 32, 32);
	border-radius: 10px 10px 0px 0px;
	color: white;
}
.titlebar .title {
	padding: 5px 20px 8px 20px;
	font-size: 14pt;
}
.titlebar .icons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-family: "Times New Roman";
	padding-top: 5px;
	padding-bottom: 8px;
	cursor: default;
}
.titlebar .icons :is(.minimize-ico, .maximize-ico, .close-ico) {
	padding-left: 20px;
	padding-right: 20px;
}
.titlebar .icons :is(.minimize-ico, .maximize-ico, .close-ico) span {
	text-align: center;
	vertical-align: middle;
}
.minimize-ico {
	font-size: 14pt;
}
.maximize-ico {
	font-size: 14pt;
}
.close-ico span {
	font-size: 13pt;
}
.window-text {
	background-color: rgb(12, 12, 12);
	border-radius: 0px 0px 10px 10px;
}
.window-text .command {
	border-radius: 0px 0px 10px 10px;
	padding: 3px 20px 5px 20px;
	color: rgb(200, 200, 220);
	font-family: "Source Code Pro";
	font-size: 12pt;
}
.window-text .informative {
	background-color: rgba(255, 255, 255, 0.8);
	margin: 0px -20px;
	padding: .5em 20px .5em 40px;
	color: black;
	font-family: "Times New Roman";
	font-size: 12pt;
}
.window-text .non-command-text:before {
	content: "  | "
}
.window-text > *:first-child {
	margin-top: 0em;
}
.window-text > *:last-child {
	margin-bottom: 0em;
}
.window-text > p:is(.command)::before {
	content: "> ";
}